<ion-view>
  <ion-content class="home">
    <div class="row top">
    	<div class="col-25"></div>
    	<div class="col-50">
    		<img class="logo" src="img/logo.png" alt="dignity dreams logo">
    	</div>
    	<div class="col-25"></div>
	</div>
	<div class="list">
		<label class="item item-input">
			<input type="text" placeholder="Username">
		</label>
		<label class="item item-input">
			<input type="password" placeholder="Password">
		</label>
		<div class="button-bar">
			<button class="button button-royal">Login</button>
			<button class="button button-royal button-outline">Register</button>
		</div>
		<div class="row">
	    	<div class="col"></div>
	    	<div class="col-100">
				<button class="button button-royal button-outline">Forgot password</button>
	    	</div>
	    	<div class="col"></div>
		</div>
	</div>

	<p class="say">It’s not fair that our girls and women who have no access to sanitary wear have to use rags, socks or paper during their menstrual cycle. The transition to womanhood should be a time of celebration – not a terrifying and painful experience”</p>
  </ion-content>
</ion-view>
